* {
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

div {
    display: flex;
    justify-content: space-between;
}

.mobile {
    display: none;
}

.desktop {
    margin: 0;
    width: 100%;
}

.whiteSpace {
    background-color: #F0D2B4;
}

.blackSpace {
    background-color: #BA7A3A;
}

td {
    text-align: center;
    width: 65px;
    height: 65px;
}

.white-turn-text {
    text-align: center;
    color: black;
    font-family: "open sans";
    font-size: 55px;
}

.black-turn-text {
    text-align: center;
    font-family: "open sans";
    font-size: 55px;
    color: lightgray;
}



.wPawn {
    width: 30px;
    height: 30px;
    padding: 12px;
    content:url(images/white_pawn.png);
}

.wQueen {
    width: 30px;
    height: 30px;
    padding: 12px;
    content:url(images/white_queen.png);
}

.wRook {
    width: 30px;
    height: 30px;
    padding: 12px;
    content:url(images/white_rook.png);
}

.wBishop {
    width: 30px;
    height: 30px;
    padding: 12px;
    content:url(images/white_bishop.png);
}

.wKing {
    width: 30px;
    height: 30px;
    padding: 12px;
    content:url(images/white_king.png);
}

.wKnight {
    width: 30px;
    height: 30px;
    padding: 12px;
    content:url(images/white_knight.png);
}

.bPawn {
    width: 30px;
    height: 30px;
    padding: 12px;
    content:url(images/black_pawn.png);

}

.bQueen {
    width: 30px;
    height: 30px;
    padding: 12px;
    content:url(images/black_queen.png);
}

.bRook {
    width: 30px;
    height: 30px;
    padding: 12px;
    content:url(images/black_rook.png);
}

.bBishop {
    width: 30px;
    height: 30px;
    padding: 12px;
    content:url(images/black_bishop.png);
}

.bKing {
    width: 30px;
    height: 30px;
    padding: 12px;
    content:url(images/black_king.png);
}

.bKnight {
    width: 30px;
    height: 30px;
    padding: 12px;
    content:url(images/black_knight.png);
}


p {
    display: inline-block;
}

#divider {
    font-size: 90px;
    margin-left: 15px;
    margin-right: 15px;
}

span {
    display: inline-block;
}

@media screen and (max-width: 560px) {
    .white-piece {
        height: 4.5vw;
        width: 4.5vw;
    }

    .black-piece {
        height: 4.5vw;
        width: 4.5vw;
    }

    td {
        width: 12vw;
        height: 12vw;
    }

    .white-turn-text {
        font-size: 40px;
    }

    .black-turn-text {
        font-size: 40px;
    }

    table {
        margin: 0;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .white-turn-text {
        -webkit-transform:rotate(-180deg);
        -moz-transform:rotate(-180deg);
        -o-transform:rotate(-180deg);
        transform:rotate(-180deg);
        filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    }
}

@media screen and (max-width: 380px) {
    .white-piece {
        height: 3vw;
        width: 3vw;
    }

    .black-piece {
        height: 3vw;
        width: 3vw;
    }
}

@media screen and (max-width: 345px) {
    .white-piece {
        height: 2.5vw;
        width: 2.5vw;
    }

    .black-piece {
        height: 2.5vw;
        width: 2.5vw;
    }
}

@media screen and (max-width: 300px) {
    .white-piece {
        height: 1.5vw;
        width: 1.5vw;
    }

    .black-piece {
        height: 1.5vw;
        width: 1.5vw;
    }

    .white-turn-text {
        font-size: 35px;
    }

    .black-turn-text {
        font-size: 35px;
    }
}